.image-upload-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .image-preview {
    margin-bottom: 20px;
  }
  
  .image-preview img {
    max-width: 300px;
    border-radius: 8px;
  }
  
  .image-form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .custom-file-upload {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff; /* Color azul */
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .custom-file-upload:hover {
    background-color: #0056b3; /* Color azul más oscuro al pasar el mouse */
  }
  
  #image-upload {
    display: none; /* Ocultar el input file por defecto */
  }
  
  .input-description {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .submit-button {
    padding: 10px 20px;
    background-color: #28a745; /* Color verde */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .submit-button:hover {
    background-color: #218838; /* Color verde más oscuro al pasar el mouse */
  }
  
  .error-message {
    color: red;
    margin-top: 10px;
  }