.container-image {
  
  
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .image-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Cuadrícula de imágenes responsiva */
    gap: 20px;
  }
  
  .image-item {
    max-width: 100%; /* La imagen no superará el ancho del contenedor */
    height: 270px; /* La altura se ajustará automáticamente según el ancho */
    width: 210px;
  }

  .container-header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh; /* Altura del header del 80% del viewport height */
    background-color: #333; /* Color de fondo del header */
  }
  
  .container-header img {
    width: 100%; /* La imagen ocupará el 100% del ancho del contenedor */
    height: 100%; /* La imagen ocupará el 100% de la altura del contenedor */
    object-fit:fill; /* Hace que la imagen cubra todo el espacio del contenedor, manteniendo su relación de aspecto */
  }

  